<h1>Listing servers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Public IP</th>
    <th>Private IP</th>
    <th>AWS Status</th>
    <th>Icinga Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @servers.each do |server| %>
  <tr>
    <td><%= server.name %></td>
    <td><%= server.public_ip %></td>
    <td><%= server.private_ip %></td>
    <td><%= server.status %></td>
    <td><%= server.icinga["status"] %></td>
    <td><%= link_to "Delete", server_path(server.id), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Server', new_server_path %>
