<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @region.name %>
</p>

<p>
  <b>Provider:</b>
  <%= @region.provider %>
</p>

<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Public ip</th>
    <th>Private ip</th>
    <th>Region</th>
    <th>Instance id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @region.servers.each do |server| %>
  <tr>
    <td><%= server.name %></td>
    <td><%= link_to server.public_ip, "http://#{server.public_ip}" %></td>
    <td><%= server.private_ip %></td>
    <td><%= link_to server.region, region_path(server.region) %></td>
    <td><%= server.instance_id %></td>
    <td><%= link_to 'Show', server %></td>
    <td><%= link_to 'Edit', edit_server_path(server) %></td>
    <td><%= link_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
