<!DOCTYPE html>
<html>
<head>
  <title>Inframan</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Providers", providers_path %>
<%= link_to "Regions", regions_path %>
<%= link_to "Servers", servers_path %>
<%= yield %>

</body>
</html>
